* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  box-sizing: border-box;
}

body {
  margin-bottom: 62px;
  transition: 0.5s;
}

#switch {
  margin-left: 300px;
}

.banner {
  width: 100%;
  height: 150vh;
  background-image: linear-gradient(#bbd2d496, #c8d5d694),
    url(images/banner.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 1px;
}

.Navbar {
  box-shadow: 2px 2px #a8a7a791;
  background-color: #ffffff3a;
  box-shadow: 30px;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.9s;
  padding-right: 60px;
}

.spanColor {
  color: goldenrod;
  text-shadow: 2px 2px 2px rgba(99, 98, 98, 0.37);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  margin: 30px 30px 30px 153px;
  cursor: pointer;
  color: #4e4849;
  text-shadow: 2px 2px 2px rgba(99, 98, 98, 0.37);
  transition: 0.9s;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Navbar ul li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  text-decoration: none;
  color: #4e4849;
  font-weight: 700;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 1px 1px 1px rgba(151, 150, 150, 0.877);
  transition: 0.9s;
}

.Navbar ul li:hover {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  /* color: goldenrod; */
}

.content {
  margin-top: 80px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  /* color: #2b2929; */
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 40px;
  margin: 39px;
  text-shadow: 2px 2px 2px rgba(73, 72, 72, 0.658);
  transition: 0.9s;
}

.content p {
  font-size: 30px;
  margin: 10px 0px 0px 40px;
  font-weight: 400;
  line-height: 25px;
  text-shadow: 2px 2px 2px rgba(73, 72, 72, 0.658);
  transition: 0.9s;
}

.button1 {
  width: 125px;
  padding: 10px 0;
  text-align: center;
  margin: 38px;
  border: #26231f;
  background-color: goldenrod;
  color: white;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.9s;
  border-radius: 10px;
}

.button1:hover {
  width: 125px;
  padding: 10px 0;
  text-align: center;
  margin: 38px;
  border: #26231f;
  background-color: #fff67e;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.9s;
}

.color {
  color: goldenrod;
}

.containers {
  margin-top: 50px;
  align-items: center;
  display: grid;
  flex-direction: column;

  justify-content: center;
  text-align: center;
}

.containers h2 {
  font-size: 35px;
  border-bottom: 6px solid teal;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.658);
  border-bottom: 1px solid goldenrod;

  margin: 20px 20px 20px 20px;
}

.column:hover {
  float: left;
  width: 25%;
  padding: 0 10px;
  text-shadow: 2px 2px 2px rgb(173, 34, 29);
  margin: 20px 0px 20px 20px;
}

.row {
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin-left: 150px;
}

div.card {
  width: 270px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px #1b1b1b33;
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin: 30px;
  cursor: pointer;
  flex-grow: 1;
  transition: 0.9s;
}

.FavPage {
  margin: auto;
  width: 80%;
}
#enjoy {
  margin-right: 65px;
}
.banner33 {
  margin-top: 5px;
  margin-bottom: 60px;
}
.cont-favPage {
  margin-right: 60px;
  margin-left: 100px;
  box-sizing: border-box;

  display: flex;
  direction: row;
  margin: auto;
  width: 80%;
}
.random-div {
  margin-right: 60px;
  margin-left: 100px;
  box-sizing: border-box;

  display: flex;
  direction: row;
  margin: auto;
  width: 80%;
}

.titlePageFav {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: goldenrod;
  color: white;
}
.bestMovie {
  color: rgb(24, 23, 23);
}

div.card-image {
  width: 100%;
  height: 310x;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.658);
  transition: 0.9s;
}

div.card-image img {
  width: 100%;
  max-width: 100%;
  height: 310px;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s;
  transition: 0.9s;
}

.card-description {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 25px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
  transition: 0.9s;
}
.con-des {
  box-shadow: goldenrod;
  margin-bottom: 0px;
}

.continuer {
  margin-right: 60px;
  margin-left: 100px;
  box-sizing: border-box;

  display: flex;
  direction: row;
}

.continuer-des {
  direction: column;
  margin-right: 60px;
  margin-left: 40px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #3f3b37;
  text-align: center;
  text-shadow: 4px solid grey;
}

#video {
  /* margin: 0 auto; */
  position: relative;
  margin-top: 20px;
  margin-left: 40px;
}

#favBtn {
  margin-left: 160px;
  margin-bottom: 15px;
  border: none;
  position: relative;
  left: 100px;
  background-color: goldenrod;
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  box-shadow: 1px solid rgb(143, 143, 143);
}

#favBtn:hover {
  background-color: rgb(247, 187, 35);
  color: white;
  cursor: pointer;
}

#deleteButton {
  margin-left: 160px;
  margin-bottom: 15px;
  border: none;
  position: relative;
  left: 100px;
  background-color: rgb(233, 35, 35);
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  box-shadow: 1px solid rgb(143, 143, 143);
}

#deleteButton:hover {
  background-color: rgb(226, 36, 36);
  color: white;
  cursor: pointer;
}

div.card-description h2 {
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: goldenrod;
  border-radius: 15px;
}

.btn {
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgb(75, 69, 69);
  cursor: pointer;
  border-radius: 20px;
  color: white;
  transition: 0.5s;
}

#Action {
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: #17978d;
  border-radius: 20px;
}

#description {
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 6px;
  border-radius: 20px;
}

#story {
  font-size: 17px;
  text-shadow: 3px solid rgb(143, 143, 143);
}

#Comedy {
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: #158d4b;
  border-radius: 20px;
}
#Drama {
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: #831234;
  border-radius: 20px;
}

#Animation {
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: #0d79a3;
  border-radius: 20px;
}

#Horror {
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: #091a20;
  border-radius: 20px;
}

#animation div.card-description h3 {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: rgb(248, 246, 246);
  transition: 0.9s;
}

div.card-description h4 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 6px;
  transition: 0.9s;
}

#randomNavbar {
  background-color: rgb(42, 179, 76);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

#randomNavbar:hover {
  background-color: rgb(19, 216, 68);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

div.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px -5px #0d0d0d;
}

div.card-image img:hover {
  opacity: 0.8;
}

.fontCard {
  font-size: 18px;
  color: rgb(51, 51, 51);
  font-weight: 300;
}

.container {
  overflow: hidden;
}

#filter {
  margin: auto;
  width: 79%;
  margin-left: 220px;
}

#favNavNum {
  background-color: white;
  color: rgb(100, 99, 99);
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 10px;
}
.footer {
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: bold;
  position: fixed;
  padding-top: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #494948;
  align-items: center;
}
#imgDes {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 7px rgb(0, 0, 0);
  margin-left: 50px;
}

#imgDes:hover {
  border: 1px solid rgb(202, 196, 196);
  box-shadow: 7px rgb(153, 14, 14);
}

.center {
  align-items: center;
  justify-self: center;
  margin-left: 400px;
}

.des {
  width: 350px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-family: cursive;
}

#nameMov {
  background-color: rgb(153, 14, 14);
  color: white;
  align-items: center;
  justify-self: center;
  margin-left: 60px;
  text-align: center;
}

.moviess {
  margin: auto;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.child {
  font-size: 12pt;
  vertical-align: baseline;
  margin-right: 20px;
}
.super {
  font-size: 12pt;
  vertical-align: super;
  margin-left: 20px;
}

#favoriteNavbar {
  background-color: goldenrod;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

#favoriteNavbar:hover {
  background-color: rgb(250, 189, 35);
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: goldenrod;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.5s;
}

input:checked + label {
  background: grey;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 20px;
}

.dark-mode {
  background-color: rgb(46, 38, 38);
  color: white;
}

.light-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(53, 51, 51);
}

/* .light-mode.div.card {
  color: "black";
  background-color: white;
} */

@media screen and (max-width: 600px) {
  .banner {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 601px) {
  .continuer-des {
    font-size: 10px;
  }
}
